// app global css in SCSS form

@font-face {
    font-family: 'Metropolis';
    src:
        url('./fonts/Metropolis-Bold.woff2') format('woff2'),
        url('./fonts/Metropolis-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src:
        url('./fonts/Metropolis-Regular.woff2') format('woff2'),
        url('./fonts/Metropolis-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src:
        url('./fonts/Metropolis-Light.woff2') format('woff2'),
        url('./fonts/Metropolis-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.q-field__bottom--animated {
    transform: translateY(0%);
    position: static;
    padding-bottom: 16px;
}

.q-field--with-bottom {
    padding-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: Metropolis, Calibri;
    color: #fff;
    background-color: $dark-page;
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 0.0625rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0.0625rem;
}

input[type='number'] {
    appearance: textfield;
}

.skeleton {
    position: absolute;
    inset: 0;
    background-color: $info;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 150ms ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
