// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary: #00b4d8;
// $secondary: #003554;
// $accent: #00d4ff;

// $dark: #002236;
// $dark-page: #001f32;

// $positive: #00a86b;
// $negative: #e63946;
// $info: #607d8b;
// $warning: #f48c06;

$primary: #0d1422;
$secondary: #5a7aa5;
$accent: #88aadd;
$dark: #0a0e18;
$dark-page: #131d2f;
$positive: #7ab8e6;
$negative: #e68ba3;
$info: #7799cc;
$warning: #d8c080;
