// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: hsl(235, 15%, 7%);
$secondary: hsl(235, 15%, 26%);
$accent: #005a8b;

$dark: hsl(235, 15%, 16%);
$dark-page: hsl(235, 15%, 10%);

$positive: #0f8514;
$negative: #e25051;
$info: hsl(235, 6%, 50%);
$warning: #f2c037;
